# .github/workflows/docker-publish.yml
# .github/workflows/docker-publish.yml
name: Build and Push Docker Image

on:
  # 移除了 push 触发器，改为手动触发
  workflow_dispatch:
    inputs:
      # 定义一个输入框，让您在运行时输入版本号
      version:
        description: "Docker image version tag (e.g., v1.0, v1.1-alpha)"
        required: true
        default: "v3"
      # 定义一个复选框，让您决定是否更新 latest 标签
      update_latest:
        description: 'Update the "latest" tag as well?'
        type: boolean
        default: false

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # 需要获取你手动运行时所在的分支（通常是main）
        uses: actions/checkout@v4

      - name: Get Camoufox Download URL
        id: get_camoufox_url
        run: |
          URL=$(curl -sL "https://api.github.com/repos/${{ github.repository }}/releases/latest" | jq -r '.assets[] | select(.name=="camoufox-linux.tar.gz") | .browser_download_url')
          echo "CAMOUFOX_URL=$URL" >> $GITHUB_ENV

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Convert repository name to lowercase
        id: repo_name
        run: echo "name=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ steps.repo_name.outputs.name }}
          tags: |
            type=raw,value=${{ github.event.inputs.version }}
            type=raw,value=latest,enable=${{ github.event.inputs.update_latest }}

      - name: Build and push Docker image to GHCR
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            CAMOUFOX_URL=${{ env.CAMOUFOX_URL }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # 新增步骤：如果勾选了 "update_latest"，则把刚才的镜像也打上 latest 标签
      - name: Tag and push latest
        # 使用 if 条件判断是否运行此步骤
        if: github.event.inputs.update_latest == true
        run: |
          IMAGE_ID=$(docker inspect --format='{{.Id}}' ellinalopez/cloud-studio:${{ github.event.inputs.version }})
          docker tag $IMAGE_ID ellinalopez/cloud-studio:latest
          docker push ellinalopez/cloud-studio:latest
